<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %}<title>FastRestaurant</title>{% endblock %}
	{% load static %}
	{# Cargamos la librería #}
    {% load bootstrap4 %}
 
    {# CSS Bootstrap #}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css\estilos.css' %}">
</head>
<body>

<div align="center">
	<h1 align="center">Seleccione opción</h1>
	<br>
	<a href="{% url 'totem_mesas' %}" class="big_button white">Pedir mesa</a>
	<br>
	<br>
	<a href=" {% url 'totem_verMenu' %} "class="big_button white" >Ver Menú (QR) </a>
	<br>
	<br>
	<a href="#" class="big_button white" >Revervar</a>
</div>

</body>
	{% include 'messages.html' %}
	{% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}

	{% block content %}<!-- default content text (typically empty) -->{% endblock %}
	
	{# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %} 
</html>