{% extends "base_generic.html" %}

{% block content %}
{% if user.rol == "adm" %}

{% load widget_tweaks %}
<br>
<div align="left" class="btn_crear mb-3">
  <a href="crear" type="button" class="btn btn-primary">Crear</a>
</div>
 
<table class="table table-striped table-hover">
  <thead>
    <tr">
      <th>Id</th>
      <th>Personas</th>
      <th class = "text-center">Disponibilidad</th>
    </tr>
  </thead>
  <tbody>
  
  <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'Insumo' y los listamos -->
  {% for Mesa in object_list %}
    <tr>
      <td>{{ Mesa.id_mesa }}</td>
      <td>{{ Mesa.cantidad_personas }}</td>
      {% if Mesa.disponibilidad == True %}
      {% load static %} 
        <td align="center"> <img src ="{% static 'true.ico' %}" height=30 width=30></td>
      {% else %}
        <td align="center"> <img src ="{% static 'false.ico' %}" height=32 width=32></td>
      {% endif %}
      <td>
 
        <!-- Usaremos un formulario que realizará la tarea de eliminar un registro de Insumo desde la misma tabla HTML -->                        
        <form method="POST" action="eliminar/{{Mesa.id_mesa}}">
          {% csrf_token %}
          <div class="btn-group">
 
            <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros de Insumo -->
            
            <!--<a href="detalle/{{Mesa.id_mesa}}" title="Ver" type="button" class="btn btn-success">Ver </a> -->
            <a href="editar/{{Mesa.id_mesa}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
            <button class="btn btn-danger" onclick="return eliminar();" type="submit">
              Eliminar
            </button>
          </div>
        </form>
 
      </td>
    </tr>
  {% endfor %}
 
  </tbody>
</table>
    {% if is_paginated %}
        <div  class="pagination" >
            <span class="page-links" >

                <span class="page-current" >
                     {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_previous %}
                
                    <a class = "white" href="{% url 'listar_mesa' %}?page={{ page_obj.previous_page_number }}"><<<</a>
                {% endif %} 
                {% if page_obj.has_next %}
                    <a class = "white" href="{% url 'listar_mesa' %}?page={{ page_obj.next_page_number }}">>>></a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <!-- script que envía una alerta para confirmar la eliminación del Insumo -->
    <script type="text/javascript">
      function eliminar() {
        var x = confirm("Eliminar mesa ?");
        if (x)
          return true;
        else
          return false;
      }
    </script>
{% else %}
FORBIDDEN!
{% endif%}
{% endblock %}