{% extends "base_generic.html" %}

{% block content %}
{% if user.rol == "adm" or user.rol == "bod" %}

{% load widget_tweaks %}
<div>
  <h1>
    Platos
  </h1>
</div>
<br>
<div align="left" class="btn_crear mb-3">
  <a href="crear" type="button" class="btn btn-primary">Crear</a>
</div>
 
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Disponibilidad</th>
      <th>Imagen</th> 
    </tr>
  </thead>
  <tbody>
  
  <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'Insumo' y los listamos -->
  {% for Plato in object_list %}
    <tr>
      <td>{{ Plato.id_plato }}</td>
      <td>{{ Plato.nombre }}</td>
      <td>{{ Plato.precio }}</td>
      {% if Plato.disponibilidad == True %}
      {% load static %} 
        <td align="center"> <img src ="{% static 'true.ico' %}" height=30 width=30></td>
      {% else %}
        <td align="center"> <img src ="{% static 'false.ico' %}" height=32 width=32></td>
      {% endif %}
      <!-- <td>{{Plato.imagen_producto}}</td> -->
      <td>
 
        <!-- Usaremos un formulario que realizará la tarea de eliminar un registro de Insumo desde la misma tabla HTML -->                        
        <form method="POST" action="eliminar/{{Plato.id_plato}}">
          {% csrf_token %}
          <div class="btn-group">
 
            <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros de Insumo -->
            <a href="detalle/{{Plato.id_plato}}" title="Ver" type="button" class="btn btn-success">Ver </a>
            <a href="editar/{{Plato.id_plato}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
            <button class="btn btn-danger" onclick="return eliminar();" type="submit">
              Eliminar
            </button>
          </div>
        </form>
 
      </td>
    </tr>
  {% endfor %}
 
  </tbody>
</table>
    {% if is_paginated %}
        <div  class="pagination center" >
            <span class="page-links " >

                <span class="page-current ">
                     {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
                <br>
                {% if page_obj.has_previous %}
                
                    <a class = "white" href="{% url 'listar_insumo' %}?page={{ page_obj.previous_page_number }}"><<<</a>
                {% endif %} 
                {% if page_obj.has_next %}
                    <a class = "white" href="{% url 'listar_insumo' %}?page={{ page_obj.next_page_number }}">>>></a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <!-- script que envía una alerta para confirmar la eliminación del Insumo -->
    <script type="text/javascript">
      function eliminar() {
        var x = confirm("Eliminar Producto ?");
        if (x)
          return true;
        else
          return false;
      }
    </script>
{% else %}
FORBIDDEN!
{% endif%}
{% endblock %}