.navbar{
	border-style: solid;
	margin:0px 0px 0px 0px;
}
.izquierda{
	justify-content: flex-start;
	color: black;
}

.white:link, .white:visited, .white:hover, .white:active, .izquierda, .derecha, .white:link{
	text-decoration: none;
	color: black;
	
}
.white:hover{
	background-color: lightblue;
}

.center {
	text-align: center;
	justify-content: center;
}
.button {
    background-color: lightblue;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.big_button{
	background-color: gray;
    color: black;
    width: 400px;
    height: 200px;
    padding: 70px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}

.txt_negrita {
	font-weight: bold!important;
}

/* 
body > main > div > div.row.mb-5 > div.card.col-md-2.bg_F5F5F5, body > main > div > div.row.mb-5 > div.card.col-md-2.bg_F5F5F5 > ul > li {
	background-color: #F5F5F5!important;
}
*/ 

body > main > div > div.row.mb-5 > div.col-md-10 > div > div > form > div:nth-child(5) > a {
	display: none!important;
}

.ocultar {
	display: none!important;
}

