{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Nombre de usuario y/o contraseña no válidos</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>¿Qué haces aquí? tu cuenta no tiene acceso a este apartado</p>
    {% else %}
    <p>Por favor, inicie sesión</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="cubo">
<div class="center">
  <h1 >Login</h1>
</div>



<div class = "center">
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div class="center">
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div class="center">
  <input type="submit" value="login" class = "button"/>
  <input type="hidden" name="next" value="{{ next }}" />
</div>
<p class="center"><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>
</form>
</div>
{# Assumes you setup the password_reset view in your URLconf #}


{% endblock %}