{% extends "base_generic.html" %}

{% block content %} 
{% if user.is_authenticated and user.rol == "adm"%}   

<!--Register--> 
<h1 style="margin-left: 30px ;">Registro Usuario</h1>
                        <hr>
        <div class="col-sm" style="align-content:right ;">
            
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <fieldset>
                        
                        <form  method="post">
                            {% csrf_token %}
                            <!-- {{ RegisterForm.as_p }} -->
                            <!-- form manual -->
                            <table>
                                <tr>
                                    <td><label for="primer_nombre">Primer Nombre: </label></td>
                                    <td>{{RegisterForm.primer_nombre}}</td>
                                </tr>
                                <tr>
                                    <td><label for="segundo_nombre">Segundo Nombre: </label>&nbsp;</td>
                                    <td>{{RegisterForm.segundo_nombre}}</td>
                                </tr>
                                <tr>
                                    <td><label for="primer_apellido">Primer Apellido: </label>&nbsp;</td>
                                    <td>{{RegisterForm.primer_apellido}}</td>
                                </tr>
                                <tr>
                                    <td><label for="segundo_apellido">Segundo Apellido: </label>&nbsp;</td>
                                    <td>{{RegisterForm.segundo_apellido}}</td>
                                </tr>
                                <tr>
                                    <td><label for="nombre_usuario">Nombre Usuario: </label>&nbsp;</td>
                                    <td>{{RegisterForm.nombre_usuario}}</td>
                                </tr>
                                <tr>
                                    <td><label for="correo">Correo: </label>&nbsp;</td>
                                    <td>{{RegisterForm.correo}}</td>
                                </tr>
                                <tr>
                                    <td><label for="password">Contraseña: </label>&nbsp;</td>
                                    <td>{{RegisterForm.password}}</td>
                                </tr>
                                <tr>
                                    <td><label for="password_2">Confirme Contraseña: </label>&nbsp;</td>
                                    <td>{{RegisterForm.password_2}}</td>
                                </tr>
                                <tr>
                                    <td><label for="rol">Rol: </label>&nbsp;</td>
                                    <td>{{RegisterForm.rol}}</td>
                                </tr>
                                
                        </table>
                        <br>
                            <div class="col-md-12">
                                <button type="submit"  class="btn btn-primary btn-lg" >Registrar
                                    </button>
                                    <a href="{% url 'listar_usuario' %}" type="submit" class="btn btn-primary btn-lg">Volver</a>
                            </div>
                            
                        </form>

                        
                    </fieldset>
                </form>
            </div>
{% else %}
FORBIDDEN!
{% endif %}
{% endblock %}