{% extends "base_generic.html" %}

{% block content %} 
{% if user.is_authenticated and user.rol == "adm"%}   

<!--Register--> 
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend class="col-md-8">Registro Usuario</legend>

                        <form method="post">
                            {% csrf_token %}
                            {{ RegisterForm.as_p }}
                            <div class="col-md-12">
                                <button type="submit"  class="btn btn-primary btn-lg" >Registrar
                                    </button>
                                    <a href="{% url 'listar_usuario' %}" type="submit" class="btn btn-primary btn-lg">Volver</a>
                            </div>
                        </form>

                        <div class="form-group">
                            
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
FORBIDDEN!
{% endif %}
{% endblock %}