<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %}<title>FastRestaurant</title>{% endblock %}
	{% load static %}
	{# Cargamos la librería #}
    {% load bootstrap4 %}
 
    {# CSS Bootstrap #}
    {% bootstrap_css %} 
	<link rel="stylesheet" href="{% static 'css\estilos.css' %}">
</head>
	<header>
		<nav class="navbar">
			
			<div class="izquierda">
				{% if user.rol == "adm" %}
				<a class = "white" href="{% url 'listar_usuario'%}" >Usuarios</a> |
				<a class = "white" href="{% url 'listar_insumo' %}">Insumos</a> |
				<a class = "white" href="{% url 'listar_mesa' %}">Mesas</a> |
				<a class = "white" href="#">Pedir insumos</a>
				{% elif user.rol == "coc" %}
				<a href="#"> </a>
				{% elif user.rol == "bod" %}
				<a class = "white" href="{% url 'listar_plato' %}">Platos</a> |
				<a class = "white" href="{% url 'listar_insumo' %}">Insumos</a>
				{% endif %}
			</div>
			

			<div>
				{% if user.is_authenticated %}
				<a class = "white" href="#">{{user.nombre_usuario}}</a> |
				<a class = "white" href="{% url 'logout' %}">Cerrar sesión</a>	
				{% else %}
				<a class = "white" href="{% url 'principal' %}">Volver al menu principal</a>	
				{% endif %}
			</div>
			
		</nav>
	</header>
<body>
	{% include 'messages.html' %}
	{% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}

	{% block content %}<!-- default content text (typically empty) -->{% endblock %}
	
	{# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %} 
</body>
 
</html>