{% extends "base_generic.html" %}

{% block content %} 
    

<!--Register--> 
{% if user.is_authenticated and user.rol == "adm"%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend class="col-md-8">Creación de mesa</legend>

                        <form method="post">
                            {% csrf_token %}
                            {{ MesaCreationForm.as_p }}
                            <div class="col-md-12">
                                <button type="submit"  class="btn btn-primary btn-lg" >Crear</button>
                            </div>
                        </form>

                        <div class="form-group">
                            
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
FORDIBEN!
{% endif %}
{% endblock %}