{% extends "base_generic.html" %}
{% block content %}
{% load static%}
{% if user.is_authenticated %}

<body class="fondo">


	<p class="letra">Bienvenido {{user.nombre_usuario}}</p>
	{% if user.rol == "adm" %}
	<p class="letra">Rol de usuario es administrador</p>
	{% endif %}
	{% if user.rol == "fin" %}
		<p class="letra">Rol de usuario es finanza</p>
	{% endif %}
	{% if user.rol == "coc" %}
		<p class="letra">Rol de usuario es cocina</p>
	{% endif %}
	{% if user.rol == "bod" %}
		<p class="letra">Rol de usuario es bodega</p>
	{% endif %}
	{% if user.rol == "mesa" %}
		<h1>Pidiendo platos a {{user.primer_nombre}}</h1>
	{% endif %}


</body>


{% endif %}
{% endblock %}